<form class="new-post-form">
  <div>
    <label for="title">Title:</label>
    <input type="text" id="title" />
  </div>
  <div>
    <label for="content">Content:</label>
    <textarea type="password" id="content" ></textarea>
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<script src="/javascript/newpost.js"></script>