/* * {
  box-sizing: border-box;
} */

body, html {
  height: 100%;
  font-family: 'Spline Sans', sans-serif;
  color: #333;
  background-color: #ddfce1;
}

a {
  text-decoration: none;
  color: #777777;
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: #ccc;
}

.posts-list {
  margin: 0;
  padding: 0;
}

.post-card {
  border-style: solid;
  border-width: 1px;
  border-color:#333;
  border-radius: 5px;
  display: block;
  justify-content: center;
  padding: 1%;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #6be279;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

header {
  background-color: black;
  height: 200px;
  width: 100%;
  padding: 0 1%;
}

header h1 {
  font-size: 4em;
  background-color: #ddfce1;
  width: 450px; 
  border-radius: 15px;
  box-shadow: 10px 10px  #adadad;
}

h1 a {
  color: black;
}

nav {
  display: flex;
  flex-direction: flex-start;
}

nav a {
  font-size: 18px;
  padding: 10px;
}

section h2 {
  color: #ddfce1;
  background-color: black;
  height: 50px;
  width: 90%;
  padding: 15px;
}

section p {
  padding: 15px;  
}

main {
  flex: 1;
  padding: 2% 4%;
} 

.btn-style{
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: black;
  border-radius: 5px;
  box-shadow: 3px 3px  #adadad;
  color: #ddfce1;
  width: 110pt;
  text-align: center;
  font-size: 100%;
  font-weight: bolder;
  transition: color .1s;
  margin-top: 20px;
}

.your-posts-container{
  display: flex;
  flex-direction: column;
}

.your-posts-container a {
  margin: 10px;
  display: inline;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
}

.post-title {
  display: block;
}

.post-content {
  display: block;
  width: 400px;
  height: 100px;
}

.buttons {
  display: inline;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}